{% load static %}
{% load i18n %}

<!-- MOBILE MENU-->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li class="{% if request.resolver_match.url_name == 'calendar' %}active{% endif %}">
                                <a href="/calendar">{% trans "Calendar" %} </a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'harvest-list' %}active{% endif %}">
                                <a href="/harvest">{% trans "Harvests" %} </a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'property-list' %}active{% endif %}">
                                <a href="/property">{% trans "Properties" %}</a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'beneficiary-list' %}active{% endif %}">
                                <a href="/beneficiary">{% trans "Beneficiaries" %}</a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'community-list' %}active{% endif %}">
                                <a href="/community">{% trans "Community" %}</a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'equipment-list' %}active{% endif %}">
                                <a href="/equipment">{% trans "Equipment" %}</a>
                            </li>
                            <!-- <li class="{% if request.resolver_match.url_name == 'statistics' %}active{% endif %}">
                                 <a href="/stats">{% trans "Statistics" %}</a>
                                 </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN MENU-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs tab-nav-center notika-menu-wrap menu-it-icon-pro">
                    <li class="{% if request.resolver_match.url_name == 'calendar' %}active{% endif %}">
                        <a href="/calendar"><i class="fa fa-table"></i> {% trans "Calendar" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'harvest-list' %}active{% endif %}">
                        <a href="/harvest"><i class="fa fa-shopping-basket"></i> {% trans "Harvests" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'property-list' %}active{% endif %}">
                        <a href="/property"><i class="glyphicon glyphicon-tree-deciduous"></i> {% trans "Properties" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'beneficiary-list' %}active{% endif %}">
                        <a href="/beneficiary"><i class="fa fa-gift"></i> {% trans "Beneficiaries" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'community-list' %}active{% endif %}">
                        <a href="/community"><i class="fa fa-users"></i> {% trans "Community" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'equipment-list' %}active{% endif %}">
                        <a href="/equipment"><i class="fa fa-scissors"></i> {% trans "Equipment" %}</a>
                    </li>
                    <!-- <li class="{% if request.resolver_match.url_name == 'statistics' %}active{% endif %}">
                         <a href="/stats"><i class="fa fa-bar-chart fa-fw"></i> {% trans "Statistics" %}</a>
                         </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
